div.calendarboard{
  width:100%;
  color: #fff;
  background: #000;
  border: 3px solid #151515;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

div.calendarboard:before, div.calendarboard:after {
  content: "";
  display: table;
  clear: both;
}

div.calendarboard div.weekday{
  width: 14.285714285714286%;
  float: left;
  list-style: none;
  color: #999;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding: .6em .3em;
  font-size: .9em;
  border-top: 1px solid #333;
  font-style: none;
  text-transform:capitalize;
}

div.calendarboard a.day{
  display: block;
  width: 14.285714285714286%;
  float: left;
  position:relative;
  cursor:pointer;
  box-shadow: 
    1px 0 0 0 #333, 
    0 1px 0 0 #333, 
    1px 0 0 0 #333 inset, 
    0 1px 0 0 #333 inset;
  color:#fff;
}

div.calendarboard a.day:hover{
  background-color:#fff;
  color:#000;
}

div.calendarboard a.day.is-sibling {
  background-color:#000;
  cursor:default;
  color:#000;
}    

div.calendarboard a.day.is-today{
  background-color:#8dae28;
  color:#000;
}

div.calendarboard a.day>p{
    position:absolute;
    top:4px;
    right:9px;
    line-height:24px;
}

div.calendarboard span.month__prev, span.month__next{
  display:block;
  float:left;
  width:20%;
  color:#fff;
  text-align:center;
  font-size: 2em;
  line-height: 1; 
  cursor:pointer;  
}

div.calendarboard div.calendar__title{
  float:left;
  width:60%;
  text-align:center;
  padding: .6em .3em;
  text-transform:capitalize;
}

div.calendarboard div.events{
  position:absolute;
  bottom:0px;
  width:100%;
  padding:0px 3px;
}

div.calendarboard div.events div.dot{
  display:block;
  float:left;
  border-radius:50%;
  background-color:#8dae28;
  width:7px;
  height:7px;
  margin:0px 2px 3px 1px;
}

div.calendarboard a.day.is-today div.events div.dot{
  background-color:#000;
}
